<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <i class="fa-solid fa-bicycle"></i> BikeBnb
    </a>
    <div class="avatar-container">
    <i class="fa-solid fa-user"></i>
    </div>
  </div>
</nav>

