

<div class="banner" style="background-image: url(<%= asset_path ("bikecut.png")%>);">
  <div class="containr">
      <h1>BikeBnB</h1>
      <h3>Travel Sustainable</h3>
        <h5>Rent bikes from people or offer your own bike</h5>
      <button class="btn-find-deals">
        <%= link_to "Find deals", bikes_path, class: "text-decoration-none text-light"%>
      </button>
  </div>
</div>

<br>

<div class="d-flex justify-content-center">
<h6>
    Traveling in the country has never been easier. we have lots of user all over the world.
  </h6>
  <br>
  </div>
  <div class="d-flex justify-content-center">
  <p class="d-flex justify-content-center">
    Sustainability is our guideline
  </p>
</div>

