
<div class="banner" style="background-image: url(<%= asset_path ("paolo-chiabrando-KSwd2lb3lfs-unsplash.jpg")%>);">
  <div class="container">
    <h1>BikeBnB</h1>
    <h3>Pedal, Explorer, Connect..!</h3>
    <button class="btn btn-primary">
      <%= link_to "Find deals", bikes_path, class: "text-decoration-none text-light"%>
    </button>
  </div>
</div>

