<h1>this is bike show page created by Bahar</h1>

<h2>There are the detail of this Bike </h2>
<p>name: <%= @bike.name %></p>
<p>price: <%= @bike.price %> €</p>
<p>description: <%= @bike.description %></p>
<p>look at the picture of this bike : </p>
