.btn-new-bike {
  text-decoration: none;
  background-color: black ;
  border: 0.5px solid #526a90;
  display: inline-block;
  color: white;
  padding: 8px 16px;
  margin-left: 10px;
}

.btn-new-bike:hover {
  background-color: #ADB5C8;

}

.btn-logout {
  text-decoration: none;
  background-color: #000000;
  border: 0.5px solid #526a90;
  display: inline-block;
  color: white;
  padding: 8px 16px;
}

.btn-logout:hover {
  background-color: #ADB5C8;
}

.btn-find-deals {

  text-decoration: none;
  background-color: #000000;
  border: 0.5px solid #526a90;
  display: inline-block;
  color: white;
  padding: 8px 16px;
}
.btn-find-deals:hover {
  background-color: #ADB5C8;
}
