.btn-new-bike {
  text-decoration: none;
  background-color: black ;
  border: 0.5px solid #526a90;
  display: inline-block;
  color: white;
  padding: 8px 16px;
  margin-left: 10px;
}

.btn-new-bike:hover {
  background-color: #ADB5C8;
  border: 0.5px solid #526a90;

}

.btn-logout {
  text-decoration: none;
  background-color: #000000;
  border: 0.5px solid #526a90;
  display: inline-block;
  color: white;
  padding: 8px 16px;
}

.btn-logout:hover {
  background-color: #ADB5C8;
  border: 0.5px solid #526a90;
}

.btn-find-deals {

  text-decoration: none;
  background-color:#000000;
  border: 0.5px solid #526a90;
  display: inline-block;
  color: white;
  padding: 8px 16px;
}
.btn-find-deals:hover {
  background-color: #ADB5C8;
  border: 0.5px solid #526a90;
}

.btn-booking {
  text-decoration: none;
  background-color:#000000;
  border: 0.5px solid #526a90;
  display: inline-block;
  color: white;
  padding: 8px 16px;
}
.btn-booking:hover {
  background-color: #ADB5C8;
  border: 0.5px solid #526a90;
}

.btn-back {
  text-decoration: none;
  background-color:#000000;
  border: 0.5px solid #526a90;
  display: inline-block;
  color: white;
  padding: 8px 16px;
}
.btn-back:hover {
  background-color: #ADB5C8;
  border: 0.5px solid #526a90;
}

.btn-outline-primary {
  text-decoration: none;
  background-color:#000000;
  border: 0.5px solid #526a90;
  display: inline-block;
  color: white;
  padding: 8px 16px;

}
.btn-outline-primary:hover {
  background-color: #ADB5C8;
  border: 0.5px solid #526a90;
}

.btn {
  text-decoration: none;
  background-color:#000000;
  border: 0.5px solid #526a90;
  display: inline-block;
  color: white;
  padding: 8px 16px;
}

.btn- {
  background-color: #ADB5C8;
  border: 0.5px solid #526a90;
}

